.fontsize-18 {
  font-size: 18px;
}
.service-cont {
  position: relative;
  }
.service-hov:hover{
  width:100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  padding-right: 15px;
  padding-left: 15px;
  background: #FA6E6E;
  opacity: 0.5;

}
.service-hov {
  z-idex: 10;
}
.hov:hover {
  position: relative;
  background-color: #58C858;
  border-radius: 50px;
}
.logofont {
  font-family: 'Jura', sans-serif;
  font-size: 5em;
}
.intro {
  font-family: "Roboto";
  font-size: 3em;
  font-style: italic;
}
.btn-pr {
  color: #FFF;
  background-color: #179B17;
  border-color: #179B17;
  font-family: Helveticas,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 3px;
  font-size: 16px;
  padding: 10px 20px;
}
.btn-pr:hover {
  color:#FFF;
  background-color: #077F07;
  border-color: #33B133;
}
.logo-img {
  vertical-align: middle;
}
.margins {
  margin-top: 25px;
  margin-bottom: 25px;
}
.resp-box {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}
.text-footer {
  color: #fff;
}
.mar {
  margin-bottom: 5px;
}
/* Responsive design */
@media screen and (max-width:768px) {
  .intro {
    font-size: 24pt;
  }
  .intro-heading {
    font-size: 28pt !important;
  }
}
@media screen and (min-width:1200px) {
  .intro-text {
    padding-top: 350px !important;
  }
}
